@keyframes fade-in-out-behind {
  0% {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }
  50% {
    opacity: 0;
    transform: translateY(-20px);
    z-index: 2;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }
}
@keyframes line {
  0% {
    opacity: 40%;
    color: #6ac9e8;
  }
  50% {
    opacity: 80%;
    color: #1893c7;
  }
  100% {
    opacity: 100%;
    color: #2a487b;
  }
}
@keyframes floatAndBounceAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  25%, 75% {
    transform: translate(20px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  25%, 50% {
    transform: translate(-20px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  color: #6ac9e8;
  background-color: #1893c7;
  text-decoration: none;
  border-radius: 9px;
}
.button:hover {
  background-color: #6ac9e8;
}

.hero {
  background-image: url(C:/Users/Usuario/Desktop/proyects/ludmila-webside/img/background-fullstack1.png);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (min-width: 1200px) {
  .hero__presentation {
    padding: 40px;
    display: grid;
  }
  .hero__presentation .one {
    grid-area: 1/2/span 1/span 1;
    padding-top: 100px;
  }
  .hero__presentation .two {
    grid-area: 1/1/span 1/span 1;
    padding-top: 150px;
  }
}
.hero__img {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: floatAndBounceAnimation 4s ease-in-out infinite;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .hero__img {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .hero__img {
    width: 100%;
  }
}
.hero__p1, .hero__p2 {
  color: #1893c7;
  font-size: 1.1rem;
  padding-bottom: 5px;
}
@media (min-width: 1200px) {
  .hero__p1, .hero__p2 {
    font-size: 1.8rem;
  }
}
.hero__h1 {
  padding-bottom: 5px;
  font-size: 2rem;
}
@media (min-width: 1200px) {
  .hero__h1 {
    font-size: 2.5rem;
  }
}
.hero__p2 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 5px;
}
@media (min-width: 1200px) {
  .hero__p2 {
    font-size: 1.9rem;
  }
}
.hero__description {
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .hero__description {
    font-size: 1.2rem;
  }
}

.contact-me {
  padding-top: 70px;
  padding-bottom: 200px;
}
.contact-me .organization {
  display: grid;
  align-items: end;
  gap: 15px;
  justify-content: center;
}
.contact-me .organization div:first-of-type {
  grid-area: 1/1/span 1/span 1;
}
.contact-me .organization div:nth-of-type(2) {
  grid-area: 1/2/span 1/span 1;
}
.contact-me .organization div:nth-of-type(3) {
  grid-area: 1/3/span 1/span 1;
}
.contact-me .organization .email {
  font-size: 1rem;
  color: #1893c7;
}
.contact-me .organization img {
  width: 25px;
}
.contact-me .organization img:hover {
  border: 3px solid #c3594f;
}
.contact-me .organization #emailContainer {
  display: none;
}

.about-me {
  padding-top: 70px;
  padding-bottom: 60px;
  background-image: linear-gradient(to bottom, rgba(106, 201, 232, 0.1), rgba(240, 245, 250, 0.1), rgba(229, 231, 235, 0.1));
}
.about-me .iam__one img {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 20px 0px 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, rgba(195, 89, 79, 0.5), rgba(141, 98, 101, 0.5), rgba(46, 109, 143, 0.5));
}
.about-me .iam__two p:first-of-type {
  padding-top: 20px;
  padding-bottom: 10px;
}
.about-me .iam__two p {
  padding: 5px;
}
.about-me .iam__two p:last-of-type {
  padding-bottom: 20px;
}
.about-me .iam__two .pdf {
  padding: 5px 10px;
  color: #2a487b;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(195, 89, 79, 0.5), rgba(141, 98, 101, 0.5), rgba(46, 109, 143, 0.5));
  border-radius: 10px;
}
@media (min-width: 768px) {
  .about-me .iam {
    display: grid;
    gap: 20px;
  }
  .about-me .iam__tittle {
    grid-area: 1/1/span 1/span 2;
  }
  .about-me .iam__one {
    grid-area: 2/1/span 1/span 1;
    padding-top: 20px;
  }
  .about-me .iam__one img {
    width: 300px;
  }
  .about-me .iam__two {
    grid-area: 2/2/span 1/span 1;
  }
}

.featured-proyects {
  padding-top: 70px;
  padding-bottom: 60px;
  background-image: linear-gradient(to bottom, rgba(106, 201, 232, 0.1), rgba(240, 245, 250, 0.1), rgba(229, 231, 235, 0.1));
}
.featured-proyects .mi-proyect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.featured-proyects .mi-proyect article figure {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 120px;
  border: 2px solid #2a487b;
  box-shadow: 1px 1px;
  overflow: hidden;
}
.featured-proyects .mi-proyect article figure .img-article {
  margin: 5px;
}
.featured-proyects .mi-proyect article .page-icons a img {
  width: 10%;
}

.skills {
  padding-bottom: 60px;
}
.skills__icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.skills__icons img {
  width: 38px;
}
@media (min-width: 768px) {
  .skills__icons {
    justify-content: center;
    gap: 30px;
  }
}

.fixed {
  display: none;
}
@media (min-width: 768px) {
  .fixed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 90px;
    right: 0;
    margin: 20px;
    gap: 10px;
  }
  .fixed a:last-of-type::before {
    content: "";
    width: 3.5px;
    height: 108px;
    background-color: #191717;
    position: fixed;
    bottom: -40px;
    right: 12px;
    margin: 40px;
    display: block;
  }
  .fixed__img {
    width: 60%;
  }
}

.footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.footer__heart {
  width: 5%;
}
@media (min-width: 768px) {
  .footer__heart {
    width: 3%;
  }
}
@media (min-width: 1200px) {
  .footer__heart {
    width: 2%;
  }
}
.footer__love {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  justify-content: center;
  grid-row: 2/2;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.footer__social-networks {
  display: flex;
  justify-content: center;
}
.footer__social-networks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  gap: 1px;
  width: 70%;
}
.footer__social-networks ul li {
  padding: 0px;
  margin: 0px;
}
.footer__social-networks ul li a {
  display: block;
  padding: 10px;
}
.footer__social-networks ul li a:hover {
  color: #1893c7;
}
.footer__social-networks ul li img {
  max-width: 100%;
}

.header-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f5fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}
.header-principal__a {
  text-decoration-line: none;
  color: #191717;
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .header-principal__a {
    font-size: 1.6rem;
  }
}
.header-principal__a span {
  color: #1893c7;
  font-weight: 500;
}
.header-principal ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header-principal ul li {
  padding: 0px;
  margin: 0px;
}
.header-principal ul li a {
  display: block;
  text-decoration-line: none;
  color: #191717;
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .header-principal ul li a {
    font-size: 1.6rem;
  }
}
.header-principal ul li a:hover {
  color: #1893c7;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 105px;
    padding-right: 105px;
  }
}

main {
  padding-top: 68px;
}

body {
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #191717;
  scroll-behavior: smooth;
}

.tittles {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  justify-items: center;
  text-transform: capitalize;
  padding-bottom: 25px;
}
.tittles h2 {
  grid-column: 2/3;
}
.tittles h2::before {
  content: "";
  height: 2.2px;
  width: 130px;
  position: relative;
  background-color: #6ac9e8;
  display: block;
  top: 34px;
}
.tittles h2::after {
  content: "";
  height: 2.2px;
  width: 130px;
  position: relative;
  background-color: #6ac9e8;
  transform: rotate(3.5deg);
  display: block;
}

/*# sourceMappingURL=style.css.map */
