@mixin breakpoint($bp) {
  @if $bp ==tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp ==tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp ==desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp ==desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex () {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@mixin button($bg-color: $color-blue, $color: $color-lightblue) {
  display: inline-block;
  color: $color;
  background-color: $bg-color;
  text-decoration: none;
  border-radius: 9px;

  &:hover {
    background-color: $color;
  }
}

@mixin tittle() {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  justify-items: center;
  text-transform: capitalize;
}

@mixin line-tittle() {
  content: '';
  height: 2.2px;
  width: 130px;
  position: relative;
  background-color: $color-lightblue;
  display: block;
  top: 34px;
  
}

@mixin line-tittle-rotate() {
  content: '';
  height: 2.2px;
  width: 130px;
  position: relative;
  background-color: $color-lightblue;
  transform: rotate(3.5deg);
  display: block;
  
  
}