$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: 'Jost', sans-serif;


//Colors
$color-lightblue: #6ac9e8;
$color-grey: #e2d5cc;
$color-purple:#291727;
$color-blue:#1893c7;
$color-brown:#8d6265;
$color-green:#2e6d8f;
$color-darkblue:#2a487b;
$color-red:#c3594f;

$text-link-bg: RGBA(255, 234, 243, 0);
$text-link-bg-hover: RGBA(0, 205, 238, 0.18);

$new-gradient: linear-gradient(to bottom right, #a2a2a2, #cfcecc);
$loading: linear-gradient(to right, var(--lighter-gray) 8%, var(--light-gray) 18%, var(--lighter-gray) 33%);


//animaciones
$duration: 2s;
$timing-function: ease-in-out;










