.footer {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    

    &__heart {
        width: 15%;
    }


    &__love {
        @extend .footer;
    }

    &__icons {
        @extend .footer;

    }

    &__img {
        width: 50%;
    }


}