.footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  
  

    &__heart {
        width: 5%;
        @include breakpoint(tablet){
            width: 3%;
        }
        @include breakpoint(desktop){
            width: 2%;
        }
    }


    &__love {
        @include flex();
        justify-content: center;
        grid-row: 2 / 2;

    }

    &__icons {
        @include flex();
        justify-content: center;
        

    }

    &__social-networks {
        display: flex;
        justify-content: center;
       

        ul {
            @include reset-list();
            @include flex();
            gap: 1px;
            width: 70%;
            li {
                padding: 0px;
                margin: 0px;

                a {
                    display: block;
                    padding: 10px;
                
                    &:hover {
                        color: $color-blue;
                    }
                }

                img {
                    max-width: 100%;

                }
            }

        }
    }
}