.contact-me {
    padding-top: 70px;
    padding-bottom: 10px;

    .send-email {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        .email {
            font-size: 1rem;
            color: $color-blue;
        }

        img {
            width: 40px;

            &:hover {
                border: 3px solid $color-red;
            }
        }
    }
}
