.hero {

    background-image: url(C:/Users/Usuario/Desktop/proyects/ludmila-webside/img/background-fullstack6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__img {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        animation: floatAndBounceAnimation 4s ease-in-out infinite;
        padding-bottom: 5px;

    }

    &__p1 {
        color: $color-blue;
        font-size: 1.1rem;
        padding-bottom: 5px;
    }

    &__h1 {
        padding-bottom: 5px;
    }

    &__p2 {
        @extend .hero__p1;
        font-size: 1.2rem;
        font-weight: 500;
        padding-bottom: 5px;
    }


    &__h1 {
        font-size: 2rem;
    }

    &__description {
        padding-bottom: 50px;
    }

    


}